<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Puo' essere utile per avere due log, uno semplifii -->
		<!-- <File name="Simple" fileName="app/${date:yyyy-MM-dd HHmmss}/BYAManager_simple.log"> -->
		<!-- <PatternLayout pattern="%d %p %c{1.} [%t] %m%n" /> -->
		<!-- <Filters> -->
		<!-- <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL" 
			/> -->
		<!-- <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL" 
			/> -->
		<!-- <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" 
			/> -->
		<!-- <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" /> -->
		<!-- </Filters> -->
		<!-- </File> -->

		<!-- Per mostrare il log anche nella console, mentre sviluppi e non solo 
			nel file -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<File name="TEMP" fileName="BYAUpdater.log">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</File>

	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="TEMP" />
		</Root>
	</Loggers>
</Configuration>